<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>teste do fernando</title>
</head>
<body>
<h1>Lista de livros</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.idBook}">123</td>
        <td th:text="${book.title}">Spring in Action</td>
        <td th:text="${book.isbn}">24154351531</td>
        <td th:text="${book.publisher.name}">Wrox</td>
    </tr>
</table>

</body>
</html>