<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <title>Mostra piadas idiotas do chuck norris</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div name="nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="publishers">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Authors</a>
                </li>     
            </ul>        
        </div>

        <h1 style="color:green">Lista de authors</h1>
        <br>
        <table class="table table-striped">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Quantidade de livros publicados</th>
            </tr>
            <tr th:each="author : ${authors}">
                <td th:text="${author.idAuthor}">123</td>
                <td th:text="${author.firstName}">Spring in Action</td>
                <td th:text="${author.lastName}">24154351531</td>
                <td th:text="${author.books.size()}">Wrox</td>
            </tr>
        </table>

    </body>
</html>
